body {
    background:gray;
    margin: auto
}

.main-container{
    position: absolute;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;

}

.side-bar-menu {
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    background: black;
    padding-top: 50px
}
 .side-bar-menu a {
     padding: 10px 20px;
     text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-decoration:none;
    font-family: "Rubik";
    letter-spacing: 2px;
 }

 .side-bar-menu a:hover {
    margin-left: 20px;
    transition: 0.4s;
    color: purple;
 }

 .side-bar-menu h2 {
    padding: 10px 20px;
    text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   text-decoration:none;
   font-family: "Rubik";
   letter-spacing: 2px;
   text-transform: uppercase;
}




#thefront {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background: rgb(143, 172, 196);
    justify-content: center;
    margin: auto;
    font-size: 16px;
}

#theback {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background: rgb(180, 110, 213);
    justify-content: center;
    margin: auto;
}