body {
    /* background: rgb(228, 228, 228); */
    /* margin: auto; */
     /* padding-top: 125px;
    padding-bottom: 40px; */
    font-family: "Tahoma";
}
    
#background-img {
    /* background-image: url("file:///Users/designerjina/Desktop/dots.png"); */
    background-image: url("file:///Users/designerjina/Desktop/gear2.jpg");
    /* background-image: url("https://www.pngkit.com/png/detail/68-682052_technology-background-white-png-white-data.png"); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
}   


div .main-container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: none;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    align-items: center;
    padding: 1px;
    float: right;
    /* margin-top: -100px; 
    margin-left: -100px;  */
}

.welcome-container {
    width: 80%;
    padding-left: 70px;
    /* margin: 0 auto; */
}

.fixed-header {
    width: 100%;
    position: absolute;
    padding: 10px;
    color: rgb(60, 169, 177);
    top: 0;
    text-align: center;
}

.side-bar-menu {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgb(60, 169, 177);
    padding-top: 50px;
}
 .side-bar-menu a {
    padding: 15px 15px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    text-decoration: none;
    font-family: "Tahoma";
    letter-spacing: 2px;
 }

 .side-bar-menu a:hover {
    margin-left: 20px;
    transition: 0.4s;
    color: rgba(240, 161, 118, 0.913);
 }

 .side-bar-menu h1{
    padding: 15px 20px;
    text-decoration: none;
   font-size: 25px;
   color: white;
   text-decoration:none;
   font-family: "Tahoma";
   letter-spacing: 2px;
   text-transform: uppercase;
}


.card {
  position: relative;
  top: 150px;
  left: 0;
  width: 500px;
  height: 400px;
  border-radius: 60px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease;
  justify-content: center;
  align-items: center;
  /* display: flex; */
  display: inline-grid;
  /* width: 50%; */
  padding: 0 10px;
  flex-direction: column;
  float: right;
}

.card .the-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 75%;
    border-radius: 20px;
    padding: 15px;
    backface-visibility: hidden;
    overflow: hidden;  
    background: rgba(240, 161, 118, 0.913);
    color: rgb(70, 69, 69);
    margin: auto;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    /* //transform-style: preserve-3d; */
}

.card:hover .the-front {
    transform: perspective(1000px) rotateY(180deg);
    transform-style: preserve-3d;
    }

.card .the-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 75%;
    padding: 15px;
    border-radius: 20px;
    backface-visibility: hidden;
    font-size: 18px;
    text-align: center;
    background: rgb(60, 169, 177);
    color: white;
    justify-content: center;
    margin: auto;
    transform: perspective(1000px) rotateY(180deg);
    flex-direction: column;
    /* transform-style: preserve-3d; */
}

.card:hover .the-back {
    transform: rotateY(360deg);
}

button {
    background-color: rgba(240, 161, 118, 0.913);
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.input-text {
    border-radius: 5px;
    height: 2rem;
    width: 80%;
    margin: 3px;
    color: black;
    box-sizing: border-box;
    font-family: monospace;
}

form #add-new-deck {
    width: 80%;
    display: inline-block;
}

div .new-deck-container {
    text-align: center;
    display: block;
}


form #add-new-card {
    width: 80%;
    display: inline-block;
}

div .new-card-container {
    text-align: center;
    display: none;
}

div .edit-card-container {
    text-align: center;
    /* display: none; */
}

.submit {
    position: relative;
    border-radius: 5px;
    justify-self: center;
    font-family: monospace;
    font-size: 16px;
    width: max-content;
    height: 2rem;
    margin: 3px;
    background: rgba(240, 161, 118, 0.913);
    color: white;
}

#category-dropdown {
    height: 2rem;
    width: 60%;
    justify-self: center;
    border-radius: 5px;
    font-family: monospace;
    font-size: 14px
}